h1 { border: 5px solid;
    display: inline-block;
    margin: 0; }

    p { border: 10px double; display: inline-block; margin: 0; padding: 1em;}

.startbutton {
position: fixed;
bottom:200;
left: 600;
width:300;
height:300;
}

.thumbsup1 {
position: relative;
left: 50;
width:200;
height:230;
border: 4px solid blue;
}

.thumbsup2 {
position: fixed;
bottom:50;
left: 50;
width:300;
height:200;
border: 4px solid blue;
}

.thumbsup3 {
position: fixed;
bottom:20;
right: 100;
width:280;
height:250;
border: 4px solid blue;
}

.thumbsup4 {
position: fixed;
bottom:400;
right: 100;
width:230;
height:250;
border: 4px solid blue;
}